# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# pkg-config
meta.pc

# editor
.*.sw*

# native code
*.o
*.a
*.lo
*.la

# build directory
build

# Temporary directory
tmp
