# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf
m4
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/config.*
Makefile
.deps
.libs

# libtool
ltmain.sh
libtool

# pkg-config
meta.pc

# editor
.*.sw*

# native code
*.o
*.a
*.lo
*.la
