Source: meta
Section: devel
Priority: optional
Maintainer: Jens Finkhaeuser <jens@finkhaeuser.de>
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9), cmake (>= 2.8)

Package: meta
Architecture: any
# Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ Metaprogramming Primivites and Pattern Implementations
